.ant-picker-dropdown.custom-week-dropdown {
  .ant-picker-cell {
    padding: 0;
    > div {
      padding: 6px 0;
    }
  }
}
.custom-week-hover,
.custom-week-selected {
  color: #fff;
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #1677ff;
    transform: translateY(-50%);
  }
  > span {
    position: relative;
  }
}
.custom-week-hover-start,
.custom-week-selected-start {
  &:before {
    border-radius: 6px 0 0 6px;
  }
}
.custom-week-hover-end,
.custom-week-selected-end {
  &:before {
    border-radius: 0 6px 6px 0;
  }
}
